/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root{
    --prime_txt_color:#ffffff;
    --radius:20px;
    --dop_txt_color:#121212;
    --red: #f30242;
    --width: 90%;
    --regular-size:16px;
}
header{
    width: 100%;
    background: url(/images/bg.png) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 30px;
    margin-bottom: 100px;
}
.content{
    width: 100%;
}
.menu{
    width: var(--width);
    display: flex;
    font-size: 1.2rem;
}
.logo{
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    align-items: center;
}

.menu-list li{
margin-left: 20px;

}
.menu-list a {
    text-decoration: none;
    color: var(--prime_txt_color);
}  
.menu-list .btn{
    padding: 10px 20px ;
    border:2px solid var(--red);
    border-radius:var(--radius);
    color: var(--red);
} 
.menu-list .btn:hover {
    color: var(--prime_txt_color);
    background-color: var(--red);
}